kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
kubeadmConfigPatches:
  - |
    apiVersion: kubeadm.k8s.io/v1beta2
    kind: ClusterConfiguration
    metadata:
      name: config
    apiServer:
      extraArgs:
        service-account-key-file: /etc/kubernetes/pki/sa.pub
        service-account-signing-key-file: /etc/kubernetes/pki/sa.key
        service-account-issuer: api,spire-agent
        api-audiences: api,spire-server
        # admission-control-config-file: /etc/kubernetes/pki/admctrl/admission-control.yaml
nodes:
  - role: control-plane
  - role: worker
