apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "tornjak-frontend.fullname" . }}
  namespace: {{ include "tornjak-frontend.namespace" . }}
  labels:
    {{- include "tornjak-frontend.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "tornjak-frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "tornjak-frontend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "tornjak-frontend.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name:  {{ include "tornjak-frontend.fullname" . }}
          image: {{ template "spire-lib.image" (dict "appVersion" $.Chart.AppVersion "image" .Values.image "global" .Values.global) }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: REACT_APP_API_SERVER_URI
              value: {{ include "tornjak-frontend.apiURL" . }}
            {{- if eq (.Values.spireHealthCheck.enabled | toString) "true" }}
            - name: REACT_APP_SPIRE_HEALTH_CHECK_ENABLE
              value: "{{ .Values.spireHealthCheck.enabled }}"
            {{- end }}
          startupProbe:
            httpGet:
              scheme: HTTP
              port: {{ .Values.service.port }}
            failureThreshold: 6
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 5
          volumeMounts:
            - name: cache
              mountPath: /usr/src/app/node_modules/.cache
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: cache
          emptyDir: {}
