apiVersion: v2
name: spire
description: >
  A Helm chart for deploying the complete Spire stack including: spire-server, spire-agent, spiffe-csi-driver, spiffe-oidc-discovery-provider and spire-controller-manager.
type: application
version: 0.3.0
appVersion: "1.5.5"
keywords: ["spiffe", "spire", "spire-server", "spire-agent", "oidc", "spire-controller-manager"]
home: https://github.com/philips-labs/helm-charts/tree/main/charts/spire
sources:
  - https://github.com/philips-labs/helm-charts/tree/main/charts/spire
icon: https://spiffe.io/img/logos/spire/icon/color/spire-icon-color.png
maintainers:
  - name: marcofranssen
    email: marco.franssen@gmail.com
    url: https://marcofranssen.nl
kubeVersion: ">=1.21.0-0"
dependencies:
  - name: spire-server
    repository: file://./charts/spire-server
    version: 0.1.0
  - name: spire-agent
    alias: agent-main
    condition: agent-main.enabled
    repository: file://./charts/spire-agent
    version: 0.1.0
  - name: spire-agent
    alias: agent-upstream
    condition: agent-upstream.enabled
    repository: file://./charts/spire-agent
    version: 0.1.0
  - name: spiffe-csi-driver
    alias: csi-driver-main
    condition: csi-driver-main.enabled
    repository: file://./charts/spiffe-csi-driver
    version: 0.1.0
  - name: spiffe-csi-driver
    alias: csi-driver-upstream
    condition: csi-driver-upstream.enabled
    repository: file://./charts/spiffe-csi-driver
    version: 0.1.0
  - name: spiffe-oidc-discovery-provider
    condition: spiffe-oidc-discovery-provider.enabled
    repository: file://./charts/spiffe-oidc-discovery-provider
    version: 0.1.0
annotations:
  artifacthub.io/category: security
  artifacthub.io/license: Apache-2.0
