# You can enable config/features that affect all services here.
global:
  spire:
    profiles: []
    # - production

    # -- Set the name of the Kubernetes cluster
    clusterName: "example-cluster"
    # -- Set the trust domain to use for the spiffe identifiers
    trustDomain: "example.org"
    # -- Override all instances of bundleConfigMap
    bundleConfigMap: ""

#  telemetry:
#    prometheus:
#      enabled: true

nameOverride: ""
fullnameOverride: ""

# subcharts
spire-server:
  enabled: true
  nameOverride: server

  controllerManager:
    enabled: true

spire-agent:
  enabled: true
  nameOverride: agent

spiffe-csi-driver:
  enabled: true

spiffe-oidc-discovery-provider:
  enabled: false
